{{- /* Comments using Giscus */ -}}
{{- if not .Params.disableComments -}}
<div class="giscus-comments">
  <script src="https://giscus.app/client.js"
          data-repo="Bombay/catmycat"
          data-repo-id="R_kgDOQRgJZw"
          data-category="General"
          data-category-id="DIC_kwDOQRgJZ84Cxj95"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="ko"
          crossorigin="anonymous"
          async>
  </script>
</div>
{{- end -}}
